.wrapper {
  border: 1px solid white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px white;
  min-width: 25%;
  overflow: scroll;
  background-color: black;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  margin: 10px;
  height: 37rem;
  overflow: hidden;
  background-color: darkgray;
  scroll-behavior: smooth;
}
.text {
  width: 75%;
  padding: auto;
  font-size: large;
  margin: auto;
  font-family: barbra;
  color: white;
}
.imgWrapper {
  position: relative;
  width: 60%;
  height: 40%;

  margin: auto;
}
.imgWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
.background {
  display: flex;
  height: 95vh;
  padding-top: 3%;
  background-color: black;
}
.headingWrapper {
  border: 1px solid white;
  background-color: black;
}
.headingWrapper img {
  height: 40rem;
  opacity: 0.5;
  position: relative;
  margin-top: 0px;
}

.headingText span {
  
  color: red;
  font-size: 500%;
  text-decoration: underline;
  position: absolute;
  left: 37%;
  top: 15%;
  z-index: 2;
  display: inline-block ;
}
.headingText label {
  z-index: 10;
  color: white;
  position: absolute;
  left: 26%;
  top: 16rem;
  font-size: xx-large;
  font-weight: bolder;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .imgWrapper {
    width: 40%;
    height: 10%;
  }
  .wrapper {
    width: 70%;
    overflow: scroll;
  }
  .headingWrapper span {
    font-size: 350%;
  }
}
.wrapper:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 5px white;
}
