body{
    position:fixed;
    width:100vw;
    height: 90vh;
}
.Navbar {
    /* border: 1px solid; */
    /* margin-top: 30px; */
    display: flex;
    gap: 250px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 60px;

    position: sticky;

    top: 0px;
    background-image: url("https://www.shutterstock.com/image-photo/handsome-caucasian-muscle-man-model-260nw-1043641723.jpg")



}
.Navbar

.logo {
    /* border: 1px solid; */
    margin-left: 200px;
  
}

.logo img {
    width: 80px;
    height: 60px;
    border-radius: 50px
}

.logo span {
    color: red;
    font-weight: bolder;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.navi>nav {
    display: flex;
    gap: 80px;
}

.navi a {
    color: red;
    font-variant: small-caps;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    height: 30px;

}

a:focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
}


a:hover {
    background-color: rgb(235, 236, 240);
    cursor: pointer;
}


a {
    text-decoration: none;
}