.Wrapper{
   justify-content: right;
   position: sticky;
   top: 0;
   z-index: 20;
}
.navbarContainer {
  height: 10%;
  background-color: black;
  display: flex;
}
.logoContainer {
  position: relative;
  left: 5%;
  width: fit-content;
  height: 20%;
  text-align: left;
}
.logoContainer img {
  width: 60px;
  height: 65px;
}
.linksContainer {
  display: flex;
  width: 90%;
  overflow: scroll;
  position: relative;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.linksContainer::-webkit-scrollbar {
  display: none;
}
.linksContainer a {
  width: 6rem;
  color: red;
  font-variant: small-caps;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  height: 30px;
  text-decoration: none;
}
 a:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

  a:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);

}
.button{
    display: inline-block;
    cursor: pointer;
    will-change: box-shadow, transform;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
} 
.linksContainer a:focus {
    border-color: rgb(76, 154, 255);
  }
 .linksContainer a:hover {
  background-color: rgb(235, 236, 240);
  cursor: pointer;
}
.linkWrapper {
  color: white;
  gap: 15%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 20%;
  width: 70%;
}
.btnWrapper {
  display: flex;
  position: relative;
  top: 10%;
}
.menuBtnWrapper{
    display: none;
    padding-top: 15px;
    max-height: 10%;
    position: relative;
    align-items: center;
    right: -60%;
   
    
}
.menuWrapper{
  
    position: relative;
    left: 30%;
    background-color: maroon;
    width: 70%;
    z-index: 20;
    position: absolute;
    opacity: 0.9;
}
@media screen and (min-width:650px) {
  .menuWrapper{
    display: none;
  }
  
}
.menuWrapper a{
    text-decoration: none;
}
.menuWrapper label{
    text-decoration: none;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    height: 15px;
    border: 1px solid black ;
    color: white;
    
}
.menuWrapper label:hover{
  background-color: black;
}
@media screen and (max-width:650px) {
    .linkWrapper{
        display: none;
    }
    .menuBtnWrapper{
      display: flex;
    }
}