.Card{
    /* border: 1px solid; */
    margin-left: 10%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.Card:hover{
    box-shadow: 7px 7px 15px #bbcfda,-4px -4px 13px #fff, inset 4px 4px 8px rgba(209, 217, 230, 0.2),  inset -8px -8px 8px rgba(255, 255, 255, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.3); 
                background: #e8eff5;
    opacity: .7;
    background-color: #3a4535;
    
}

.Card > img{
    width: 70%;
    height: 70%;
    margin-right: 62.5rem;
    margin-top: 1.25rem;
    margin-left: 5rem;

    
}

.Card > h4{
    /* margin-right: 62.5rem; */
    /* border: 2px solid; */
    /* text-align: center; */
    width: 12.5rem;
    margin-left: 9.125rem;
    font-family: FitnessFirst-Medium;
    color: slategray;
}
@media screen and (max-width:650px) {
    .Card img{
       width: 90%;
        
    }
    .Card{
        width: 20rem;
    }
}