.image-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #100f0f;
  overflow: hidden;
}

.main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #333;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 1px 1px #fff;
  max-width: 600px;
  margin: 0 auto;
}

.main {
  margin: 0;
  padding: 0;
  color: #fff
}

.image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: 0;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.button-container {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #790606;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  border-radius: .9rem;
  
}

.button:hover {
  background-color: #555;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  background-color: #100f0f;
  color: #fff;
  font-size: smaller;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 1px 1px #fff;
}

.main-section {
  font-size: 24px;
  font-weight: bold;
}

.main-section main {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-image {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  background-color: #110f0f;
}

.section-image img:hover {
  transform: scale(1.2);
  
}

.section-image img {
  width: 300px;
  height: 200px;
  object-fit: cover;

}
.trainer{
  display:flex;
  
  gap:12rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
 font-size: smaller;
  color:#ffff;
  margin-top:4px;
  }
  .trainer>p{
   text-align: center;
   
  }
  .trainer p:hover{
    color: #26e015;
  }
  
 
  
.price-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  background-color: #0c0a0a;
}

.price-section>div {
  margin-top: 10px;
  width: 300px;
  overflow: scroll;
  background-color: #0f0e0e;
  color: white;
  padding: 30px;
  margin-right: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid white;

  border-radius: 1.2rem;
  box-shadow: #eabfbf 5rem;
}
.price-section div::-webkit-scrollbar {
  display: none;
}
.price-section span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price-section main {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price-section span,
.price-section main {
  display: block;
}

.price-section li {
  margin-bottom: 10px;
}

.price-section button {
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.price-section para {
  font-size: 10px;
  font-weight: 5px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 30px;
}

.div1:hover {
  transform: scale(.9);
}

.div2:hover {
  transform: scale(.9);
}

.div3:hover {
  transform: scale(.9);
}

.div2 .div1 {
  margin-top: 5px;
}

.price {
  color: green;
}

.member {
  border-bottom: 5px solid green;
  margin: 3px;
}

.div3 {
  margin-top: 4px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  height: 380px;
  gap: 3px;
  letter-spacing: 1px;
  font-size: smaller;
}

.div3 span {
  font-weight: bold;
}

.div3 .para {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  
}

.div3 .para span {
  font-weight: normal;
}


.price-section button:hover {
  background-color: #353331;
}


.footer {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #050505;
  color: #fff;
  padding: 50px;
  font-size: 14px;
}

.about {
  background-color: #151313;
  padding: 5px;
  text-align: center;
}

.about h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.about a {
  display: inline-block;
  font-size: 30px;
  color: #666;
  margin-right: 20px;
}

.about a:hover {
  color: #3b5998;
 
}




.service span,
.program span {
  font-weight: bold;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 50px 0;
  color: #fff;
}

.par {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #ee0404;
}
.footer p{
  cursor: pointer;
}
.footer h1{
  cursor: pointer;
}
.footer p:hover{
  text-decoration: underline;
  color: red
}
.footer h1:hover{
  text-decoration: underline;
  color: red
}
@media screen and (max-width:650px) {
  .price-section{
    display: block;
  }
  .footer{
    display: block;
  }
}