.background {
  background-image: url("/public/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.background2 {
  background-image: url("/public/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100rem;
}
/* .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
} */
.heading {
  font-size: 2.5rem;
  padding-top: 5rem;
  margin-bottom: 3.125rem;
}

.heading::first-line {
  color: yellow;
}

strong {
  color: #fff;
}

.image {
  position: absolute;
}
.discription {
  background-color: #ffffff8c;
  color: #444;
  width: 50rem;
  margin-left: 3.125rem;
  border: 3px red solid;
  margin-left: 25rem;
  border-radius: 5px;
  margin-top: -70.75rem;
  /* position: relative; */
}

.discriptionHeading {
  text-align: right;
  margin-right: 7.5rem;
}

.para1 {
  margin-left: 25rem;
  margin-right: 1.25rem;
}

.sectionFlex {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  width: 15.625rem;
  text-align: right;
}

.section1 {
  background-color: #fffffff8;
  border-radius: 5px;
  margin-left: 3.125rem;
}

.sideBarImg {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

.imagelady {
  height: 550px;
  width: 350px;
  margin: 20px;
}

h3 {
  text-align: center;
}

.vidPlayer {
  /* position: absolute; */
  margin-left: 31.25rem;
  margin-top: -31.25rem;
}

@media screen and (max-width: 650px) {
  .vidPlayer {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .discription {
    display: none;
  }
}
